// GENERAL STUFF ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
* {
  all: unset;
  font-family: mononoki Nerd Font Mono;
  font-size: 16px;
}

/* Colors */
$background: #282a36;
$selection: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

$black: #1a1b26;

// Global
* {
  all: unset;
  font-family: "mononoki Nerd Font Mono";
}

tooltip {
  background-color: $black;
  color: $foreground;
  border-radius: 5px;
  border: 1px solid $black;
}

// *** MAINBAR *** ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.bar {
  background-color: $black;
  font-size: 14px;
}

// Left ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.left {
  padding-left: 10px;
}

// Powerbutton
.powerbutton {
  font-size: 1.3rem;
  color: $red;
}

// Workspaces
.workspace-entry {
  padding-left: 2px;
  padding-right: 2px;
  color: $foreground;
}

.occupied {
  color: $orange;
}

.current {
  color: $purple;
}

// Center ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.center {
  padding: 0px 5px 0px 5px;
}

// Window Title
.win-title {
  color: $foreground;
}

// Right ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.right {
  padding-right: 10px;
}

.wtr-icon,
.net-icon,
.vol-icon {
  font-size: 1.9rem;
}

// Clock
.clockbox {
  color: $foreground;
}

.time {
  font-weight: bold;
}

// Settings
.settings {
  font-size: 1.5rem;
  color: $cyan;
}

// *** SIDEBAR *** ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

// MAIN ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.main-container {
  background-color: $background;
  border-radius: 14px;
  border: 2px solid $black;
  margin: 0px 8px 8px 0px;
  box-shadow: 8px 8px 5px $black;
}

// SEPERATOR ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.sdash {
  background-color: $selection;
  margin: 4px 16px 2px 16px;
  padding: 2px;
}

// CALENDAR ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.scal-container {
  border-radius: 10px;
}
.scal-box {
  border-radius: 10px;
}
.scal-window {
  border-radius: 10px;
  padding-top: 10px;
}
.smonth-year {
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
  padding: 1px;
  color: $foreground;
}
.sday-names {
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
  color: $cyan;
}
.sdate {
  color: $comment;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}

.sclock {
  font-size: 38px;
  font-weight: bold;
  color: $foreground;
  border-radius: 10px;
  padding-top: 6px;
}

calendar {
  &:selected {
    color: $purple;
  }
  &:indeterminate {
    color: $selection;
  }
}
calendar.button {
  color: $foreground;
}
calendar.highlight {
  color: $cyan;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

// INFO ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.sinfo-box-left {
  padding: 4px;
}
.sinfo-box-right {
  padding: 4px;
}
.sinfo-icon {
  color: $purple;
}
.sinfo-text {
  color: $cyan;
}

// APPS ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.sapp-container {
  font-size: 28px;
}
.sapp-label {
  font-size: 18px;
  color: $comment;
}
.sapp-box {
  font-size: 32px;
  color: $pink;
  padding-bottom: 6px;
}

// WEATHER ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.sweather-container {
  border-radius: 10px;
}
.sweather-window {
  padding: 6px;
}
.sweather-box {
  padding-top: 2px;
}
.sweather-icon {
  font-size: 32px;
  font-weight: bold;
  padding-right: 14px;
}
.sweather-temp {
  color: $foreground;
  font-size: 30px;
  font-weight: bold;
}
.sweather-feel {
  color: $foreground;
  font-size: 16px;
  padding-bottom: 6px;
}
.sweather-desc {
  color: $comment;
  font-size: 14px;
}

// VOLUME ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.svol-label {
  padding-right: 10px;
}
.svol-text {
  color: $foreground;
  padding-left: 10px;
}
.smetric {
  font-size: 12px;
  font-weight: bold;
  color: $pink;
  padding-left: 10px;
}
.smetric scale trough highlight {
  background: linear-gradient(90deg, $cyan 0%, $purple 50%, $red 100%);
  border-radius: 6px;
}
.smetric scale trough {
  background-color: $black;
  border-radius: 6px;
  min-height: 10px;
  min-width: 80px;
  margin-left: 4px;
  margin-right: 4px;
}
.sscale trough {
  all: unset;
  background-color: $black;
  min-width: 150px;
  min-height: 10px;
  border-radius: 10px;
}
.scale trough highlight {
  background-color: $pink;
  border-radius: 10px;
}

// NETWORK ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.snetwork {
  padding: 5px 0px 5px 0px;
}
.snetwork-label {
  color: $cyan;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px 4px 0px;
}
.snetwork-up {
  color: $purple;
  font-size: 22px;
}
.snetwork-down {
  color: $cyan;
  font-size: 22px;
}
.snetwork-graph-up {
  color: $purple;
  padding: 10px;
  background-color: rgba(203, 166, 247, 0.2);
}
.snetwork-graph-down {
  color: $cyan;
  padding-bottom: 10px;
  background-color: rgba(122, 162, 247, 0.2);
}

// SYSTEM ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.ssys_win {
  border-radius: 10px;
}
.ssys_cpu {
  color: $pink;
  background-color: $black;
  border-radius: 10px;
}
.ssys_mem {
  color: $orange;
  background-color: $black;
  border-radius: 10px;
}
.ssys_icon_cpu {
  font-size: 20px;
  margin: 22px;
  color: $green;
}
.ssys_icon_mem {
  font-size: 20px;
  margin: 22px;
  color: $cyan;
}
.ssys_cpu_box {
  border-radius: 16px;
  margin: 10px 10px 10px 10px;
  padding-left: 20px;
}
.ssys_mem_box {
  border-radius: 16px;
  margin: 10px 10px 10px 10px;
  padding-right: 20px;
}
.smem_perc {
  color: $cyan;
  padding-top: 6px;
}
.scpu_perc {
  color: $green;
  padding-top: 6px;
}

// *** POWERMENU *** ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.uptime {
  font-size: 16px;
}

.powerbox {
  background-color: $background;
  border-radius: 14px;
  border: 1px solid $purple;
}

.powermenu {
  font-size: 80px;
}

.powermenu button {
  color: $purple;
  padding: 5px;
}

.powermenu button:hover {
  color: $red;
}

// *** WEATHER POP *** ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.wtrouterbox {
  background-color: $black;
  border-radius: 14px;
  border: 1px solid $purple;
  padding: 7px;
}

.wtrtop {
  padding-bottom: 5px;
}
