// GLOBAL ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
@import "css/color";

* {
  all: unset;
  font-family: mononoki Nerd Font Mono;
}

tooltip {
  background-color: $black;
  color: $foreground;
  border-radius: 5px;
  border: 1px solid $selection;
}

// *** MAINBAR *** ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.bar {
  background-color: $black;
  font-size: 14px;
}

// Left ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.left {
  padding-left: 10px;
}

// Powerbuttons
.powerbuttons {
  font-size: 1.4rem;
  font-weight: bold;
}

.button-off,
.button-reb,
.button-hib {
  padding: 0rem 0.3rem;
}

.button-off {
  color: $red;
}

.button-reb {
  color: $yellow;
}

.button-hib {
  color: $green;
}

.button-off:hover,
.button-reb:hover,
.button-hib:hover {
  color: $selection;
}

// Workspaces
.workspace-entry {
  padding-left: 2px;
  padding-right: 2px;
  color: $foreground;
}

.occupied {
  color: $orange;
}

.current {
  color: $purple;
}

// Center ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.center {
  padding: 0px 5px 0px 5px;
}

// Window Title
.win-title {
  color: $foreground;
}

// Right ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.right {
  padding-right: 10px;
}

.wtr-icon,
.net-icon,
.vol-icon {
  font-size: 1.9rem;
}

// Clock
.clockbox {
  color: $foreground;
}

.time {
  font-weight: bold;
}

// Settings
.settings {
  font-size: 1.5rem;
  color: $cyan;
}

// IMPORTS ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
@import "css/sidebar";
