/*
███╗░░░███╗░█████╗░██████╗░████████╗██╗░░░██╗
████╗░████║██╔══██╗██╔══██╗╚══██╔══╝╚██╗░██╔╝
██╔████╔██║███████║██████╔╝░░░██║░░░░╚████╔╝░
██║╚██╔╝██║██╔══██║██╔══██╗░░░██║░░░░░╚██╔╝░░
██║░╚═╝░██║██║░░██║██║░░██║░░░██║░░░░░░██║░░░
╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝░░╚═╝░░░╚═╝░░░░░░╚═╝░░░
*/

/* Colors */
@define-color background #282a36;
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

/* Main */
* {
  border: none;
  border-radius: 0px;
  font-family: mononoki Nerd Font Mono;
  font-size: 12px;
  min-height: 0;
  padding: 0px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  opacity: 0.9;
  border-radius: 20px;
  border: 1px solid @selection;
  background: @background;
}

tooltip label {
  color: @foreground;
}

#window,
#workspaces {
  margin: 0px 4px;
}

/* Workspaces */
#workspaces button {
  padding: 2px 10px;
  border-radius: 20px;
  background: @background;
  color: @foreground;
}

#workspaces button.focused {
  border-color: @selection;
  color: @purple;
  background-color: @selection;
}

#workspaces button.urgent {
  background-color: @red;
  color: @foreground;
}

/* Modules */
#custom-spacer {
  color: @foreground;
}

#custom-power {
  color: @red;
}

#custom-pkgs {
  color: @red;
}

#tray {
  color: @foreground;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  color: @foreground;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  color: @red;
}

#custom-weather {
  color: @yellow;
}

#custom-camera {
  color: @green;
}

#custom-camera.critical {
  color: @red;
}

#bluetooth.disabled {
  color: @red;
}

#bluetooth.off {
  color: @red;
}

#bluetooth.on {
  color: @green;
}

#bluetooth.connected {
  color: @comment;
}

#bluetooth.discoverable {
  animation-name: blink-critical;
  animation-duration: 2s;
  color: @red;
}

#bluetooth.discovering {
  animation-name: blink-critical;
  animation-duration: 2s;
  color: @red;
}

#bluetooth.parable {
  animation-name: blink-critical;
  animation-duration: 2s;
  color: @red;
}

#custom-vpn {
  color: @green;
}

#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

#network.disabled {
  color: @red;
}

#cpu {
  color: @orange;
}

#cpu.warning {
  color: @orange;
}

#cpu.critical {
  animation-name: blink-critical;
  animation-duration: 2s;
  color: @red;
}

#temperature {
  color: @orange;
}

#temperature.critical {
  color: @red
}

#memory {
  color: @pink;
}

#memory.critical {
  animation-name: blink-critical;
  animation-duration: 2s;
  color: @red;
}

#pulseaudio {
  color: @purple;
}

#pulseaudio.muted {
  color: @red;
}

#clock {
  color: @yellow;
}

#battery {
  color: @cyan;
}

#battery.charging, #battery.plugged {
  background-color: transparent;
  color: @green;
}

@keyframes blink {
  to {
    color: @red;
  }
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 10;
  animation-direction: alternate;
  background-color: transparent;
  color: @orange;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: @red;
  color: @background;
}

label:focus {
  background-color: @background;
}
