/*
███╗░░░███╗░█████╗░██████╗░████████╗██╗░░░██╗
████╗░████║██╔══██╗██╔══██╗╚══██╔══╝╚██╗░██╔╝
██╔████╔██║███████║██████╔╝░░░██║░░░░╚████╔╝░
██║╚██╔╝██║██╔══██║██╔══██╗░░░██║░░░░░╚██╔╝░░
██║░╚═╝░██║██║░░██║██║░░██║░░░██║░░░░░░██║░░░
╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝░░╚═╝░░░╚═╝░░░░░░╚═╝░░░
*/

/* Colors */
@import url("./colors.css");

/* Main */
* {
  border: none;
  border-radius: 0;
  font-family: "Mononoki Nerd Font Mono";
  font-size: 14px;
  min-height: 0;
}

/* Bar styling */
window#waybar {
  color: @foreground;
  background: linear-gradient(0deg, transparent, @background);
}

/* Module Group Styling */
.modules-left,
.modules-center,
.modules-right {
  padding: 2px 2px 1px;
}

/* Tooltips */
tooltip {
  opacity: 0.95;
  border: 2px solid @selection;
  background: @background;
  border-radius: 20px;
}

tooltip label {
  color: @foreground;
}

/* KeyFrames */
@keyframes blink {
  to {
    color: @red;
  }
}

/* Modules */
/* Left */
#clock {
  background-color: @background-darker;
  color: @foreground;
  border-radius: 20px;
  padding: 0 10px;
}

#workspaces {
  background-color: @background-darker;
  border-radius: 20px;
}

#workspaces button {
  padding: 0 0.5em;
  background-color: @background;
  color: @foreground;
  margin: 0.25em;
  border-radius: 10px;
}

#workspaces button.empty {
  color: @foreground;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-image: linear-gradient(0deg, @selection, @background-darker);
}

#workspaces button.active {
  background-image: linear-gradient(0deg, @purple, @selection);
}

#workspaces button.urgent {
  background-image: linear-gradient(0deg, @red, @background-darker);
}

#taskbar {
  border-radius: 20px;
  background: @background-darker;
}

#taskbar.empty {
  background: transparent;
}

#taskbar button.active {
  border-radius: 20px;
  background-image: linear-gradient(0deg, @selection, @background-darker);
}

/* Middle */
#window {
  padding: 0 10px;
  background-color: @background-darker;
  border-radius: 20px;
}

#waybar.empty #window {
  background-color: transparent;
}

/* Right */
#custom-weather {
  background-color: @background-darker;
  border-radius: 20px;
  padding: 0 10px;
}

#system {
  background-color: @background-darker;
  border-radius: 20px;
  padding: 0 10px;
}

#custom-panel,
#bluetooth,
#network,
#pulseaudio,
#backlight,
#idle_inhibitor {
  padding: 0 2px;
}

#custom-panel,
#network,
#pulseaudio,
#backlight {
  font-size: 1.7rem;
}

#custom-panel {
  color: @orange;
}

#bluetooth {
  font-size: 1.3rem;
  color: @cyan;
}

#bluetooth.disabled,
#bluetooth.off {
  font-size: 1.5rem;
  color: @red;
}

#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

#network.disabled {
  color: @red;
}

#pulseaudio {
  color: @purple;
}

#pulseaudio.bluetooth {
  color: @cyan;
}

#pulseaudio.muted {
  color: @red;
  padding-right: 4px;
}

#backlight {
  color: @yellow;
}

#idle_inhibitor {
  color: @orange;
}

#idle_inhibitor.activated {
  color: @red;
}

#battery {
  padding: 0 10px;
  border-radius: 20px;
  transition: none;
  color: @cyan;
  background: @background-darker;
}

#battery.charging {
  color: @foreground;
  background-image: linear-gradient(0deg, @green, @background);
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 10;
  animation-direction: alternate;
  background-image: linear-gradient(0deg, @orange, @background);
  color: black;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-image: linear-gradient(0deg, @red, @background);
  color: @foreground;
}

#power {
  background: @background-darker;
  border-radius: 20px;
  padding: 0 10px;
}

#custom-shutdown,
#custom-reboot,
#custom-lock,
#custom-hibernate,
#custom-logout {
  font-size: 1.7rem;
}

#custom-shutdown {
  color: @red;
}

#custom-reboot {
  padding: 0 6px;
  color: @yellow;
}

#custom-lock {
  color: @green;
}

#custom-hibernate {
  padding: 0 6px;
  color: @purple;
}

#custom-logout {
  color: @orange;
}
