// *** CALENDAR POP *** ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.cal-box {
  background-color: $black;
  border-radius: 14px;
  border: 1px solid $purple;
  padding: 7px;
}

.calmonth,
.cal {
  color: $foreground;
}

.cal:hover {
  color: $orange;
}
