// Calendar
.cal-box {
  background: $background-darker;
  border: 1px solid $purple;
  border-radius: 20px;
}

.cal-inner-box {
  padding: 1rem 1rem .3rem;
  border-radius: 20px;
}

.cal {
  &.highlight {
    padding: 10rem;
  }
  padding: .8rem .25rem 0rem;
  margin-left: 10px;
  font-size: 18px;
}

calendar:selected {
  color: $red;
}

calendar.header {
  color: $purple;
  font-weight: bold;
}

calendar.button {
  color: $green;
}

calendar.highlight {
  color: $purple;
  font-weight: bold;
}
