.control-center {
  border: 1px solid $purple;
  background: $background-darker;
  border-radius: 20px;
}

.control-center-buttons {
  background: $background-darker;
  margin: 20px 20px 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px $background;
}

.bluetooth-status-button,
.net-status-button,
.volume-status-button,
.brightness-status-button {
  color: $background-darker;
  margin: 0px 19px;
  padding: 0.5em 0em;
  border-radius: 25px;
  font-size: 24px;
}

.bluetooth-status-on {
  background-color: $cyan
}

.net-status-on {
  background-color: $green;
}

.bluetooth-status-off,
.net-status-off,
.volume-status-off {
  background-color: $red;
}

.volume-status-on {
  background-color: $purple;
}

.brightness-status-on {
  background-color: $yellow;
}

.brightness-status-off {
  background-color: $orange;
}

.volume-slider-container {
  margin: 20px 20px 10px;
}

.volume-slider-icon {
  color: $purple;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 22px;
  background-color: $selection;
  border-radius: 50px;
  box-shadow: 0px 0px 7px $selection;
}

.volume-slider trough {
  border-radius: 20px;
  background-color: $selection;
  box-shadow: 0px 0px 7px $selection;
}

.volume-slider highlight {
  padding: 0.5em;
  border-radius: 20px;
  background: linear-gradient(to left, $red, $green);
}

.brightness-slider-container {
  margin: 7px 20px;
}

.brightness-slider-icon {
  color: $yellow;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 22px;
  background-color: $selection;
  border-radius: 50px;
  box-shadow: 0px 0px 7px $selection;
}

.brightness-slider trough {
  border-radius: 20px;
  background-color: $selection;
  box-shadow: 0px 0px 7px $selection;
}

.brightness-slider highlight {
  padding: 0.5em;
  border-radius: 20px;
  background: linear-gradient(to left, $foreground, $orange);
}
